{% extends "userwebsite/base-view.html" %}

{% load staticfiles %}

{% block body_block %}



      <div class="row marketing">
        <div class="col-lg-12">
          <h4>Login</h4>
          <hr/>
          <form method="post">
            {% csrf_token %}

            <div class="form-group">
              <label for="InputEmail">Your Email</label>

              {{ form.username }}

              {% if form.username.errors %}

              <div class="alert alert-danger" role="alert">

                 <strong>Sorry!</strong> {{ form.username.errors }}

              </div>

              {% endif %}
            </div>
            <div class="form-group">
              <label for="InputPassword">Password</label>

              {{ form.password }}

              {% if form.password.errors %}

              <div class="alert alert-danger" role="alert">

                 <strong>Sorry!</strong> {{ form.password.errors }}

              </div>

              {% endif %}
            </div>

            <input type="submit" class="btn btn-primary" value="Login">

          </form>

        </div>
      </div>


      <div class="row marketing">
        <div class="col-lg-12">

            {% if login_errors %}

              <div class="alert alert-danger" role="alert">

                 <strong>Sorry!</strong> Email or Password is wrong

              </div>

            {% endif %}

          </div>
        </div>


      <div class="row marketing">
        <div class="col-lg-12">
          <p>Forgot your password? <a href="{% url 'forget-password-page' %}">Account Recovery</a></p>
          <p>Don't have an account then please <a href="{% url 'signup-page' %}">Sign Up</a> for an account</p>
        </div>
      </div>

{% endblock %}
