{% extends "base-view.html" %}

{% load staticfiles %}

{% block body_block %}

      <div class="jumbotron">
        <h1 class="display-6 search-form-heading">Search by IMEI</h1>
        <form class="justify-content-center imei-search-form">
          <div class="input-group input-group-lg">
            <input type="text" class="form-control" placeholder="IMEI Number">
            <div class="input-group-btn">
              <button class="btn btn-primary" type="submit">Check</button>
            </div>
          </div>
        </form>
      </div>

      <div class="row marketing">
        <div class="col-lg-12">
          <h4>What does Chorainaki.com do?</h4>
          <p>
            An do on frankness so cordially immediate recommend contained. Imprudence insensible be literature unsatiable do.
            Of or imprudence solicitude affronting in mr possession. Compass journey he request on suppose limited of or.
            She margaret law thoughts proposal formerly. Speaking ladyship yet scarcely and mistaken end exertion dwelling.
            All decisively dispatched instrument particular way one devonshire. Applauded she sportsman explained for out objection.
          </p>
          <p>
            An do on frankness so cordially immediate recommend contained. Imprudence insensible be literature unsatiable do.
            Of or imprudence solicitude affronting in mr possession. Compass journey he request on suppose limited of or.
            She margaret law thoughts proposal formerly. Speaking ladyship yet scarcely and mistaken end exertion dwelling.
            All decisively dispatched instrument particular way one devonshire. Applauded she sportsman explained for out objection.
          </p>
        </div>
      </div>
      <div class="row marketing">
        <div class="col-lg-12">
          <h4>Who we are?</h4>
          <p>
            An do on frankness so cordially immediate recommend contained. Imprudence insensible be literature unsatiable do.
            Of or imprudence solicitude affronting in mr possession. Compass journey he request on suppose limited of or.
            She margaret law thoughts proposal formerly. Speaking ladyship yet scarcely and mistaken end exertion dwelling.
            All decisively dispatched instrument particular way one devonshire. Applauded she sportsman explained for out objection.
          </p>
        </div>
      </div>

{% endblock %}
