<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://v4-alpha.getbootstrap.com/favicon.ico">

    <title>Chorainaki.com</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/framework.min.css' %}">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  </head>

  <body>

    <div class="container">
      <div class="header clearfix">


        <nav class="navbar navbar-toggleable-md navbar-light bg-light">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#mainNavbars" aria-controls="mainNavbars" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home-page' %}">*******</a>

          <div class="collapse navbar-collapse justify-content-end" id="mainNavbars">
            <ul class="navbar-nav">
                {% url 'home-page' as url_check %}
                {% if request.path == url_check %}
                  <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home-page' %}">Home<span class="sr-only">(current)</span></a>
                  </li>
                {% else %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'home-page' %}">Home</a>
                  </li>
                {% endif %}

                {% url 'contact-page' as url_check %}
                {% if request.path == url_check %}
                  <li class="nav-item active">
                    <a class="nav-link active" href="{% url 'contact-page' %}">Contact<span class="sr-only">(current)</span></a>
                  </li>
                {% else %}
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'contact-page' %}">Contact</a>
                    </li>
                {% endif %}


                {% if user.is_authenticated %}

                  {% url 'profile-page' as url_check %}
                  {% if request.path == url_check %}
                    <li class="nav-item active">
                      <a class="nav-link active" href="{% url 'profile-page' %}">Hi, {{ user.full_name }} <span class="sr-only">(current)</span></a>
                    </li>
                  {% else %}
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'profile-page' %}">Hi, {{ user.full_name }} </a>
                    </li>
                  {% endif %}

                {% else %}
                  {% url 'login-page' as url_check %}
                  {% if request.path == url_check %}
                    <li class="nav-item active">
                      <a class="nav-link active" href="{% url 'login-page' %}">Login<span class="sr-only">(current)</span></a>
                    </li>
                  {% else %}
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'login-page' %}">Login</a>
                    </li>
                  {% endif %}


                {% endif %}



            </ul>
          </div>
        </nav>
      </div>

      {% block body_block %}




      {% endblock %}


      <footer class="footer">
        <p>&copy; 2019. A social wellbeing project by Skooby-Technology for Impact</p>
      </footer>


      <script src="{% static 'js/jquery.js' %}"></script>
      <script src="{% static 'js/framework.js' %}"></script>
    </div> <!-- /container -->
  </body>
</html>
